.cat-perf {
    margin-bottom: 10rem;
    &__inner {
        padding-top: 7.3rem;
        padding-left: 10.5rem;
        padding-right: 10.5rem;
        padding-bottom: 8.4rem;
        background-color: $grey;
        border-radius: 7rem;
    }
    &__header {
        margin-bottom: 7.8rem;
    }
    &__htop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5.5rem;
    }
    &__mtitle {
        font-weight: bold;
        font-size: 4rem;
    }
    &__htopright {
        display: flex;
        align-items: center;
        .select {
            margin-right: 3.6rem;
        }
    }
    &__count {
        font-weight: 2rem;
        font-weight: bold;
        margin-right: 6rem;
        span {
            font-weight: normal;
            font-size: 1.8rem;
            color: $greyt;
        }
    }
    &__hbot {
        display: flex;
        justify-content: space-between;
    }
    &__catalog {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 4.5rem;
        &--row {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 5rem;
        }
        &.mobile {
            display: none;
        }
    }
    &__more {
        display: flex;
        justify-content: center;
        margin-top: 9.5rem;
        .btn-ca {
            width: 25rem;
        }
    }
}
