.services {
    margin-bottom: 10rem;
    &__inner {
        margin-bottom: 8rem;
    }
    &__title {
        font-weight: bold;
        font-size: 4rem;
        color: #171e2f;
        text-align: center;
        // margin-bottom: 6rem;
        margin-bottom: 6.5rem;
    }
    &__blocks {
        display: flex;
        justify-content: center;
        // margin-bottom: 8rem;
        margin-bottom: 8.4rem;
    }
    &__block-mini {
        width: 10rem;
        height: 10rem;
        border-radius: 3rem;
        background-color: #f2f1f5;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2.8rem;
        margin-left: 1.6rem;
        &:hover {
            background-color: #cc283c;
        }
        img {
            width: 2.8rem;
            height: 4.2rem;
        }
    }
    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 5rem;
        cursor: pointer;
        &:last-child {
            margin-right: 0;
        }
        .red {
            display: none;
        }
        &.active,
        &:hover {
            .services__icon {
                box-shadow: 1rem 1rem 4rem rgba(229, 39, 39, 0.3);
            }
            .red {
                display: block;
            }
            .grey {
                display: none;
            }
        }
    }
    &__icon {
        width: 10rem;
        height: 10rem;
        border-radius: 3rem;
        margin-bottom: 2.8rem;
        @include contain;
    }
    &__block-key {
        width: 10rem;
        height: 10rem;
        border-radius: 3rem;
        background-color: #f2f1f5;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2.8rem;
        margin-left: 4.6rem;
        &:hover {
            background-color: #cc283c;
        }
        img {
            width: 4.4rem;
            height: 4.4rem;
        }
    }
    &__text {
        font-weight: bold;
        font-size: 1.8rem;
        color: #171e2f;
    }
}
